__pycache__/

sanity_check/images
sanity_check/videos

classification/train
classification/plots
classification/embeddings

wandb/

data/data_DISCARDED
data/data_TRAINED
data/data_TRAINED_A1
data/data_TRAINED_A2

train_*
DO_NOT*

data/*_train.json
data/*_validation.json
data/*_test.json


