__pycache__/

sanity_check/images
sanity_check/videos

# classification/train
classification/plots
classification/embeddings
classification/_archive*
classification/last_training

wandb/

data/data_DISCARDED
data/data_TRAINED
data/data_TRAINED_A1
data/data_TRAINED_A2
data/baseline_classifier_renderings

data/*_train.json
data/*_validation.json
data/*_test.json

task_classification/classifier/*
task_classification/classifier*
task_classification/embeddings
task_classification/embeddings*

saved_plots/
plots_interp_train/
plots_interp_validation/
train_*.txt
val_*.txt

baseline_classifier_filtered_renderings_multi_poses/
baseline_classifier_renderings_multi_poses/


*.pt
_archive_old_trainings/

GAN_plots/
task_generation/experiments/
task_generation/latent_embeddings/

task_mapping_network/point_clouds/
task_mapping_network/inrs*

task_mapping_network/nerf_embeddings
task_mapping_network/inr_embeddings

logs/

TO_REMOVE_FROM_FINAL_RELEASE/*
nerf2vec/embeddings/

retrieval_plots_*/
latent_embeddings_*/
inr_embeddings/
zirZt00e

mapping_network
